.Card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: white;
    max-width: 600px;
    max-height: 200px;
    padding: 25px;
    margin: 20px;
    box-shadow: black 10px -10px;
    outline: solid black 5px;
    outline-offset: -15px;
    border: 1px solid;
}
.Card img {
    width: 100px;
    height: 100px;
    margin: 25px;
    margin-left: 10px;
    border-radius: 50%;
    place-self: center;
    background-color: rgb(149, 146, 146);
    text-align: center;
}
.Card q {
    justify-self: start;
    align-self: center;
}